.dois {
    display: flex;
    width: 100%;
    justify-content: center;

    .inputForm {
        width: 40%;
    }

    .form-input {
        width: 88%;
    }
}

select:disabled {
    background-color: #f1f2f3;
    color: #000f;
}