#cadastro {
    text-align: center;
    color: #fff;
    width: 14vw;
    border: none;
    padding: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#cadastro:hover {
    color: #53159B;
}

#table-bg {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100vh;
    z-index: 2;
}

#table-div {
    width: 99%;
    padding: 5vh 0;
    background-color: #fa8f0a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

table, th, td {
    border: #fa8f0a solid 3px;
    font-size: 85%;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    width: 99%;
}

tr:hover {
    background-color: #53159B;
    color: #fff;
    
    th {
        color: #fff;
    }

    i {
        color: #fff;
    }
}

th {
    text-align: center;
    padding: 3px;
    color: #fa8f0a;
}

td {
    text-align: left;
    padding: 3px;
}

i {
    color: #000;
    font-size: 140%;
}

i:visited {
    color: #000;
}

.icon-center {
    text-align: center;
}

.icon-center:hover {
    background-color: #fa8f0a;
    outline: #53159B solid 3px;
}

p {
    position: absolute;
    color: #53159B;
    font-size: 120%;
    margin-top: 55vh;
    z-index: 8;
    font-weight: bold;
}