#cadastro {
    text-align: center;
    color: #fff;
    width: 14vw;
    border: none;
    padding: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#cadastro:hover {
    color: #53159B;
}

#table-bg {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100vh;
    z-index: 2;
}

#table-div {
    width: 99%;
    padding: 5vh 0.5rem;
    background-color: #fa8f0a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    width: 99%;
}

th, td {
    border-bottom: #fa8f0a solid 1px;
    text-align: center;
    font-size: 0.9rem;
}

th {
    color: #000;
    background-color: #fff;
    padding: 0.7em 0.4em;
}

td {
    padding: 0.5em 0.4em;
}

.icon-center i {
    font-size: 1.1rem;
    color: #000;
    transition: color 0.3s;
}

.icon-center i:hover {
    color: #53159B;
}

p {
    position: absolute;
    color: #53159B;
    font-size: 120%;
    margin-top: 55vh;
    z-index: 8;
    font-weight: bold;
}