h2 {
    padding: 0.4rem 0.8rem;
    background-color: #6a3f9b;
    color: #f1f2f3;
    margin-top: 16vh;
    border-radius: 15px;
}

h3 {
    color: #53159B;
    margin-top: 0.7vh;
}

#table-bg {
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-top: 0;
    padding-bottom: 20vh;
}

#table-div {
    width: 95%;
    padding: 1rem;
    background-color: #f1f2f3;
    border-radius: 15px;
    box-shadow: 6px 6px 18px 4px #352435cc;
    max-height: 70vh;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
}

tr:hover td {
    background-color: #ddbfff;
}

th, td {
    text-align: center;
    padding: 0.6rem;
    text-wrap: nowrap;
}

th {
    background-color: #6a3f9b;
    color: #fff;
}

td {
    border-bottom: #6a3f9b solid 1px;
}

#nenhum {
    position: absolute;
    padding: 0.4rem 0.8rem;
    background-color: #6a3f9b;
    color: #f1f2f3;
    border-radius: 15px;
    font-size: 120%;
    font-weight: bold;
}