* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#form-div {
    background-color: #ddbfff;
    width: 50%;
    height: 90%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 18px 4px #352435cc;
    border-radius: 15px;
    z-index: 5;
}

form {
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    width: 30vw;
    justify-items: center;
    padding: 17px 0 30px 0;
    background-color: #f1f2f3;
}

legend {
    color: #6a3f9b;
    padding: 4px;
    width: 9vw;
    background-color: #f1f2f3;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    border-radius: 15px;
}

.inputForm {
    width: 100%;
    text-align: center;
}

.form-input {
    width: 75%;
    padding: 8px;
    border: none;
    margin: 5px 0;
    font-size: 18px;
    border: 1px solid #ddbfff;
}

.form-input:focus {
    outline: none;
    border: 1px solid #53159B;
}

#consultar-div, #enviar-div, #cadastro-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

#consultar, #enviar {
    border: none;
    padding: 4px;
    margin-top: 3px;
    background-color: #6a3f9b;
    color: #f1f2f3;
    width: 30vw;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
}

#consultar:hover, #enviar:hover {
    background-color: #53159B;
    color: #fff;
}

input:read-only {
    background-color: #f1f2f3;
    border: 1px solid #f1f2f3;
    color: #0009;
}

#home-link i {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0.5rem;
    font-size: 3rem;
    color: #6a3f9b;
    transition: color 0.2s, transform 0.2s;
}

#home-link i:hover {
    color: #53159B;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}