* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        font-family: "Tahoma", sans-serif;
    }
}

html {
    font-family: "Tahoma", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #53159B;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-div {
    background-color: #fa8f0a;
    width: 50%;
    height: 90%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 12px 4px #202;
    border-radius: 15px;
    z-index: 5;
}

form {
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    width: 30vw;
    justify-items: center;
    padding: 17px 0 30px 0;
    background-color: #fff;
}

legend {
    border: 3px solid  #fa8f0a;
    color: #fa8f0a;
    padding: 4px;
    width: 9vw;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.inputForm {
    width: 100%;
    text-align: center;
}

.form-input {
    width: 75%;
    padding: 8px;
    border: none;
    margin: 5px 0;
    font-size: 18px;
    border: 3px solid #fa8f0a;
}

.form-input:focus {
    outline: none;
    border: 3px solid #53159B;
}

#consultar-div, #enviar-div, #cadastro-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

#consultar, #enviar {
    border: none;
    padding: 4px;
    margin-top: 3px;
    background-color: #fff;
    color: #fa8f0a;
    width: 30vw;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#consultar:hover, #enviar:hover {
    background-color: #53159B;
    color: #fff;
}